asgiref==3.4.1
beautifulsoup4==4.10.0
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
coloredlogs==15.0.1
fastapi==0.68.1
gunicorn==20.1.0
h11==0.12.0
httptools==0.2.0
humanfriendly==10.0
idna==3.2
importlib-metadata==4.8.1
lxml==4.6.3
pydantic==1.8.2
pyreadline==2.1
pyreadline3==3.3
python-dotenv==0.19.0
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
soupsieve==2.2.1
starlette==0.14.2
typing-extensions==3.10.0.2
urllib3==1.26.7
uvicorn==0.15.0
watchgod==0.7
websockets==10.0
zipp==3.5.0
